aiodns
aiohttp
argparse
asyncio
beautifulsoup4
cachier
cchardet
click
investpy
lxml
pandas
pyaml_env
python-dotenv
quart
request-boost
requests
requests-random-user-agent
requests[socks]
sqlalchemy
stem
yfinance
