aiodns
aiohttp
argparse
asyncio
beautifulsoup4
cachier
cchardet
click
fastparquet
humanfriendly
investpy
lxml
pandas
pyaml_env
pyarrow
pymysql
python-dotenv
quart
request-boost
requests
requests-random-user-agent
requests[socks]
sqlalchemy
stem
yfinance